@font-face {
  font-family: Diodrum-bold;
  src: url(/font/Diodrum-Bold.otf);
}
@font-face {
  font-family: Diodrum-light;
  src: url(/font/Diodrum-Light.otf);
}
@font-face {
  font-family: Diodrum-medium;
  src: url(/font/Diodrum-Medium.otf);
}
@font-face {
  font-family: Diodrum-regular;
  src: url(/font/Diodrum-Regular.otf);
}
@font-face {
  font-family: Diodrum-semibold;
  src: url(/font/Diodrum-Semibold.otf);
}
.row {
  margin: 0 5px 0 5px;
}

ul, ol{
  list-style: none;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  display: inline-block;
  vertical-align: top;
  min-height: 1px;
  padding: 0 5px 0 5px;
  width: 100%;
  margin-right: -4px;
}

@media (min-width: 21em) {
  .container {
    max-width: 21em;
  }

  header {
    text-align: center;
  }

  section hr {
    width: 35%;
  }

  section p {
    text-align: center;
  }

  .col-4 {
    width: 70%;
  }
  .col-4 img {
    border-radius: 100%;
  }

  .col-8 {
    width: 100%;
    text-align: center;
  }
  .col-8 #social li {
    margin: 0;
    padding: 20px 5px 0 5px;
    font-size: 3em;
  }
  .col-8 hr {
    width: 100%;
  }
}
@media (min-width: 37em) {
  .container {
    max-width: 37em;
  }

  section hr {
    width: 13%;
  }

  section p {
    text-align: left;
  }

  .col-4 {
    width: 45%;
  }

  .col-8 {
    width: 100%;
  }
  .col-8 #social li {
    margin: 0;
    padding: 20px 10px 0 10px;
    font-size: 5em;
  }
  .col-8 hr {
    width: 100%;
  }
}
@media (min-width: 41em) {
  .container {
    max-width: 41em;
  }

  section hr {
    width: 12%;
  }

  .col-4 {
    width: 43%;
    margin-right: 5px;
  }

  .col-8 {
    width: 50%;
    text-align: left;
  }
  .col-8 #social li {
    margin: 0;
    padding: 28px 10px 0 0;
    font-size: 3em;
  }
  .col-8 hr {
    width: 40%;
  }
}
@media (min-width: 47em) {
  .container {
    max-width: 47em;
  }

  section hr {
    width: 10%;
  }

  .col-4 {
    width: 37.6%;
    margin-right: 5px;
  }

  .col-8 {
    width: 61.6%;
    text-align: left;
  }
  .col-8 #social li {
    margin: 0;
    padding: 34px 10px 0 0;
    font-size: 2.8em;
  }
  .col-8 hr {
    width: 30%;
  }
}
@media (min-width: 68em) {
  .container {
    max-width: 68em;
  }

  section hr {
    width: 7%;
  }

  .col-4 {
    width: 23%;
    margin-right: 5px;
  }

  .col-8 {
    width: 76.5%;
    text-align: left;
  }
  .col-8 #social li {
    margin: 0;
    padding: 29px 10px 0 0;
    font-size: 2.5em;
  }
  .col-8 hr {
    width: 20%;
  }
}
@media (min-width: 82em) {
  .container {
    max-width: 62em;
  }

  section hr {
    width: 5%;
  }

  .col-4 {
    width: 25.5%;
    margin-right: 5px;
  }

  .col-8 {
    width: 73.94%;
    text-align: left;
  }
  .col-8 #social li {
    margin: 0;
    padding: 27px 10px 0 0;
    font-size: 2.8em;
  }
  .col-8 hr {
    width: 20%;
  }
}
@media (min-width: 100em) {
  .container {
    max-width: 80em;
  }

  section hr {
    width: 5%;
  }

  .col-4 {
    width: 19.25%;
    margin-right: 5px;
  }

  .col-8 {
    width: 80.33%;
    text-align: left;
  }
  .col-8 #social li {
    margin: 0;
    padding: 28px 10px 0 0;
    font-size: 2.4em;
  }
  .col-8 hr {
    width: 20%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1c212e;
}

/*body::before
 *  content: ''
 *  display: block */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 25px 5px;
}

header {
  margin-bottom: 20px;
}

#profile img {
  width: 100%;
}

.profile {
  padding: 10px 0 0 0;
}

h1 {
  letter-spacing: 0.05em;
  color: #e7dfdd;
  font-family: Diodrum-medium;
  font-size: 26px;
}

h2 {
  font-family: Diodrum-light;
  color: #4e4e4e;
  font-size: 1em;
  padding: 10px 0 0 0;
}

#contato {
  font-family: Diodrum-light;
  color: #e7dfdd;
  font-size: 1.1em;
  padding: 5px 0 0 0;
}
#contato a {
  text-decoration: none;
  color: #e7dfdd;
}
#contato a:hover {
  color: #d12b2e;
  transition-duration: 1s;
}

#social li {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  margin: 30px 5px 0 0;
}

#social i {
  color: #e7dfdd;
}

#social i:hover {
  color: #d12b2e;
  transition-duration: 1s;
}

section {
  width: 100%;
  padding: 20px 30px 20px 20px;
  border-left: 5px solid #d12b2e;
  border-radius: 0 5px 5px 0;
  margin-bottom: 10px;
  font-family: Diodrum-light;
  font-size: 1em;
  color: #1c212e;
  background-color: #e7dfdd;
  line-height: 1.4em;
}

.projetos{
  align-items: center;
  text-align: center;
}
.projetos h3{
  text-align: left;
}

.projetos li {
  width: 200px;
  height: 200px;
  
}

.projetos ul li{
  display: inline-block;
  margin: 10px;
  opacity: 50%;
}

.projetos ul li:hover{
  opacity: 100%;
}

img{
  width: 200px;
}

.principal, .skills {
  font-size: 1.2em;
}
.principal:after, .skills:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

@keyframes pisca {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
h3 {
  font-family: Diodrum-medium;
  color: #1c212e;
  font-weight: bold;
  font-size: 2em;
}

#frase {
  font-style: italic;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #4e4e4e;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

hr {
  border: none;
  height: 3px;
  background: #d12b2e;
  margin: 20px 0 20px 0;
}

img.rodape {
  width: 130px;
  margin: 0 auto;
}

#footer {
  text-align: center;
  padding: 20px 20px;
  font-family: Diodrum-light;
  color: #e7dfdd;
}

/*# sourceMappingURL=style.css.map */
