@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ==========================================================================
   Reset
   ========================================================================== */
/**
 * Remove anchor text-decoration
 */
a {
  text-decoration: none;
}

/**
 * Remove list-style
 */
ol, ul {
  list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
  font-size: 1em;
  font-weight: normal;
}

#logo {
  width: 70px;
  margin: 0 0 0 96px;
}

.navegador {
  position: fixed;
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
}
.navegador a {
  color: white;
}

.menuFixo {
  position: fixed;
  top: 0px;
  background-color: #121214;
  transition: 500ms;
}

.menu {
  display: flex;
  margin-right: 65px;
}
.menu a {
  padding: 10px 20px;
  margin: 0 10px;
}

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
  position: fixed;
}

.mynav a,
.target {
  transition: all 0.35s ease-in-out;
}

#menu-mobile {
  display: none;
}

.banner {
  background: url(/img/background.jpg) no-repeat;
  background-size: cover;
  height: 512px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.presentation {
  font-size: 48px;
  color: white;
}
.presentation h1 {
  font-weight: 600;
}
.presentation span {
  color: #9466FF;
}

.subtitulo {
  font-size: 24px;
  color: white;
}
.subtitulo h2::after {
  content: "|";
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.citacao {
  margin: 100px 96px -60px 96px;
  text-align: right;
  width: 400px;
  font-size: 12px;
  color: white;
  font-style: italic;
  float: right;
}
.citacao p {
  font-weight: 600;
  margin-top: 10px;
}

.about {
  background: #121214;
  display: flex;
  align-items: center;
}

.description {
  margin-left: 96px;
}
.description .nome p {
  font-size: 18px;
  font-weight: 600;
}
.description p {
  font-size: 14px;
  color: white;
}
.description .mais p {
  font-size: 14px;
  font-weight: 700;
  color: #A8A8B3;
}

.about .profile {
  height: 370px;
  margin-left: 100px;
  margin-right: 96px;
  border-left: 4px solid #9466FF;
}

.networks {
  display: flex;
  margin-bottom: 100px;
}
.networks img {
  height: 35px;
  margin: 54px 16px 0 0;
}

body {
  background: #09090A;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

html {
  scroll-behavior: smooth;
}

.titulo h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 100px 0 0 0;
  color: white;
}

.titulo::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background: #9466FF;
  margin: 0 0 25px 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.skills {
  background: #121214;
  border-top: 1px solid #29292D;
  display: grid;
  align-items: center;
}
.skills .titulo {
  text-align: center;
}
.skills .titulo::after {
  margin: 0px auto;
}

.gradeSkills {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 120px;
}

.flexSkill {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 80px 0 80px;
}
.flexSkill li {
  display: grid;
  align-items: center;
  width: 200px;
  height: 100px;
  background: #09090A;
  margin: 15px 10px 15px 10px;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0 10px 0;
}
.flexSkill li p {
  font-size: 14px;
  margin-top: -20px;
  color: white;
}
.flexSkill :nth-child(1) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #FB941F;
}
.flexSkill :nth-child(1) span {
  color: #FB941F;
  margin-top: -20px;
}
.flexSkill :nth-child(2) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #458ACB;
}
.flexSkill :nth-child(2) span {
  color: #458ACB;
  margin-top: -20px;
}
.flexSkill :nth-child(3) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #CF649A;
}
.flexSkill :nth-child(3) span {
  color: #CF649A;
  margin-top: -20px;
}
.flexSkill :nth-child(4) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #E1BD00;
}
.flexSkill :nth-child(4) span {
  color: #E1BD00;
  margin-top: -20px;
}
.flexSkill :nth-child(5) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #8156E4;
}
.flexSkill :nth-child(5) span {
  color: #8156E4;
  margin-top: -20px;
}
.flexSkill :nth-child(6) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #e94e31;
}
.flexSkill :nth-child(6) span {
  color: #e94e31;
  margin-top: -20px;
}
.flexSkill :nth-child(7) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #215E98;
}
.flexSkill :nth-child(7) span {
  color: #215E98;
  margin-top: -20px;
}
.flexSkill :nth-child(8) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #E73F5A;
}
.flexSkill :nth-child(8) span {
  color: #E73F5A;
  margin-top: -20px;
}
.flexSkill :nth-child(9) hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-top: -25px;
  background: #04CE5F;
}
.flexSkill :nth-child(9) span {
  color: #04CE5F;
  margin-top: -20px;
}

.projetos {
  background: #121214;
  border-top: 1px solid #29292D;
  display: grid;
}
.projetos .titulo {
  text-align: center;
}
.projetos .titulo::after {
  margin: 0px auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.outer-wrapper {
  width: 80%;
  margin: 50px auto;
}

.s-wrap {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 55%;
  position: relative;
  border: 10px solid #fff;
  background-color: #efefe8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.s-wrap > input {
  display: none;
}

.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}

.s-wrap .s-item {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-wrap .s-item-1 {
  background-image: url("/img/aliança.jpg");
}

.s-wrap .s-item-2 {
  background-image: url("/img/acompanhantes.jpg");
}

.s-wrap .s-item-3 {
  background-image: url("/img/bikcraft.jpg");
}

.s-wrap .s-item-4 {
  background-image: url("/img/lescone.jpg");
}

.s-wrap .s-item-5 {
  background-image: url("/img/login.jpg");
}

.s-type-1 .s-control {
  position: absolute;
  bottom: 18px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition-timing-function: ease-out;
}

.s-type-1 .s-control {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #999;
  background-color: #efefe8;
  cursor: pointer;
}

.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #09090A;
}

.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}

.s-type-1 .s-nav label.left {
  left: 20px;
}

.s-type-1 .s-nav label.left::before {
  transform: rotate(45deg);
}

.s-type-1 .s-nav label.left::after {
  transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right {
  right: 20px;
}

.s-type-1 .s-nav label.right::before {
  transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right::after {
  transform: rotate(45deg);
}

.s-type-1 #s-1:checked ~ .s-content {
  transform: translateX(0%);
}

.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}

.s-type-1 #s-2:checked ~ .s-content {
  transform: translateX(-20%);
}

.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}

.s-type-1 #s-3:checked ~ .s-content {
  transform: translateX(-40%);
}

.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}

.s-type-1 #s-4:checked ~ .s-content {
  transform: translateX(-60%);
}

.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}

.s-type-1 #s-5:checked ~ .s-content {
  transform: translateX(-80%);
}

.s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
  display: block;
}

.contato {
  background: #121214;
  border-top: 1px solid #29292D;
  display: grid;
}
.contato .titulo {
  text-align: center;
}
.contato .titulo::after {
  margin: 0px auto;
}

.contactLinks {
  width: 600px;
  height: 200px;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 3px;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.068);
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactLinks img {
  height: 20px;
  margin: 0 15px -3px 28px;
}
.contactLinks li {
  font-size: 18px;
  font-weight: 500;
  color: #9466FF;
  line-height: 30px;
}
.contactLinks a {
  text-decoration: none;
  color: #121214;
  font-size: 24px;
  font-weight: 500;
}

.rodape {
  height: 50px;
  background: #09090A;
  display: grid;
  align-items: center;
}
.rodape p {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  font-size: 14px;
}
.rodape p b {
  color: #9466FF;
}

@media (max-width: 1200px) {
  .container {
    width: 750px;
    transition: 500ms;
  }

  #logo {
    width: 70px;
    margin: 0 0 0 50px;
  }

  .menu {
    margin-right: 30px;
  }
  .menu a {
    padding: 10px 10px;
  }

  .citacao {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-top: 50px;
  }

  .description {
    margin-left: 96px;
    margin: 0 96px 0 96px;
  }

  .about .profile {
    display: none;
  }
}
@media (max-width: 940px) {
  .container {
    width: 100%;
    transition: 500ms;
    grid-template-columns: 1fr;
  }

  .navegador {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  #menu-mobile #check {
    display: none;
  }
  #menu-mobile #icone {
    cursor: pointer;
    padding: 15px;
    margin: -14px 0 0 0;
    position: fixed;
    z-index: 2;
    color: #9466FF;
    font-size: 36px;
  }
  #menu-mobile .barra {
    background: #09090ae0;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all 0.2s linear;
    left: -300px;
    z-index: 1;
  }
  #menu-mobile nav {
    width: 100%;
    position: absolute;
    top: 85px;
    display: grid;
    grid-template-columns: 1fr;
  }
  #menu-mobile nav a {
    text-decoration: none;
    background: #121214;
    padding: 20px;
    font-size: 14pt;
    transition: 0.2s linear;
    color: white;
    border-bottom: 2px solid #09090A;
    opacity: 0;
    margin-top: 200px;
  }
  #menu-mobile nav a :hover {
    background: #9466FF;
  }
  #menu-mobile #check:checked ~ .barra {
    transform: translateX(300px);
  }
  #menu-mobile #check:checked ~ .barra nav a {
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
  }

  .flexSkill {
    margin: 0 20px 0 20px;
  }

  .contactLinks {
    width: 500px;
  }
}
@media (max-width: 760px) {
  .container {
    transition: 500ms;
    width: 100%;
    transition: 500ms;
    justify-content: center;
  }

  .navegador {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  #menu-mobile #check {
    display: none;
  }
  #menu-mobile #icone {
    cursor: pointer;
    padding: 15px;
    margin: -14px 0 0 0;
    position: fixed;
    z-index: 2;
    color: #9466FF;
    font-size: 36px;
  }
  #menu-mobile .barra {
    background: #09090ae0;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all 0.2s linear;
    left: -300px;
    z-index: 1;
  }
  #menu-mobile nav {
    width: 100%;
    position: absolute;
    top: 85px;
    display: grid;
    grid-template-columns: 1fr;
  }
  #menu-mobile nav a {
    text-decoration: none;
    background: #121214;
    padding: 20px;
    font-size: 14pt;
    transition: 0.2s linear;
    color: white;
    border-bottom: 2px solid #09090A;
    opacity: 0;
    margin-top: 200px;
  }
  #menu-mobile nav a :hover {
    background: #9466FF;
  }
  #menu-mobile #check:checked ~ .barra {
    transform: translateX(300px);
  }
  #menu-mobile #check:checked ~ .barra nav a {
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
  }

  .presentation {
    font-size: 36px;
    margin-top: 120px;
  }

  .citacao {
    margin-top: 100px;
    text-align: center;
  }

  .description {
    text-align: center;
  }
  .description .titulo::after {
    margin: 0px auto;
    margin-bottom: 30px;
  }

  .networks {
    display: flex;
    justify-content: center;
  }
  .networks img {
    height: 35px;
    margin: 54px 20px 0 20px;
  }

  .contactLinks {
    width: 400px;
    text-align: center;
  }
  .contactLinks a {
    font-size: 20px;
  }
  .contactLinks img {
    display: none;
  }
}
@media (max-width: 460px) {
  .container {
    transition: 500ms;
    width: 100%;
    transition: 500ms;
  }

  .navegador {
    display: none;
  }

  #menu-mobile {
    display: block;
  }
  #menu-mobile #check {
    display: none;
  }
  #menu-mobile #icone {
    cursor: pointer;
    padding: 15px;
    margin: -14px 0 0 0;
    position: fixed;
    z-index: 2;
    color: #9466FF;
    font-size: 36px;
  }
  #menu-mobile .barra {
    background: #09090ae0;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all 0.2s linear;
    left: -300px;
    z-index: 1;
  }
  #menu-mobile nav {
    width: 100%;
    position: absolute;
    top: 85px;
    display: grid;
    grid-template-columns: 1fr;
  }
  #menu-mobile nav a {
    text-decoration: none;
    background: #121214;
    padding: 20px;
    font-size: 14pt;
    transition: 0.2s linear;
    color: white;
    border-bottom: 2px solid #09090A;
    opacity: 0;
    margin-top: 200px;
  }
  #menu-mobile nav a :hover {
    background: #9466FF;
  }
  #menu-mobile #check:checked ~ .barra {
    transform: translateX(300px);
  }
  #menu-mobile #check:checked ~ .barra nav a {
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.2s;
  }

  .banner {
    height: 400px;
  }

  .presentation {
    width: 110px;
    height: 50px;
    font-size: 36px;
    margin-top: 0px;
    background: url(/img/logo.svg) no-repeat;
    background-size: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .presentation h1 {
    display: none;
  }

  .citacao {
    width: 300px;
    margin-top: 40px;
  }

  .description {
    margin: 30px;
  }

  .networks {
    display: flex;
    justify-content: center;
  }
  .networks img {
    height: 35px;
    margin: 54px 20px 0 20px;
  }

  .flexSkill li {
    width: 150px;
    margin: 5px;
  }

  .contactLinks {
    width: 300px;
    height: 150px;
    display: flex;
  }
  .contactLinks ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contactLinks span {
    display: none;
  }
  .contactLinks img {
    display: block;
    margin: 25px;
    height: 40px;
  }

  .rodape {
    width: 300px;
    height: 80px;
  }
  .rodape p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
