@media (max-width: 1200px) {
    .container {
      transition: 500ms;
    }
}
  
@media (max-width: 940px) {
    .container {
      transition: 500ms;
    }
}
  
@media(max-width: 760px) {
    .container {
      transition: 500ms;
      width: 100%;
    }
    #menu{
        display: none;
    }
    #menu-mobile{
        display: block;
    }
}
  
@media(max-width: 460px) {
    .container {
      transition: 500ms;
    }
}