.about {
    background: $gray;
    display: flex;
    align-items: center;
}

.description {
    margin-left: 96px;
    .nome p{
        font-size: 18px;
        font-weight: 600;
    }
    p {
        font-size: 14px;
        color: white;
    }
    
    .mais p {
        font-size: 14px;
        font-weight: 700;
        color: $lightgray;
    }
}

.about .profile {
    height: 370px;
    margin-left: 100px;
    margin-right: 96px;
    border-left: 4px solid $lilac;
}

.networks{
    display: flex;
    margin-bottom: 100px;
    img {
        height: 35px;
        margin: 54px 16px 0 0;
    }
}