.about {
    background: #F6F6F6;
    display: flex;
    align-items: center;
}

.description {
    margin-left: 96px;
    .nome p{
        font-size: 18px;
        font-weight: 600;
    }
    p {
        font-size: 14px;
    }
    
    .mais p {
        font-size: 14px;
        font-weight: 700;
        color: #031641;
    }
}

.about img {
    height: 370px;
    margin-left: 100px;
    margin-right: 96px;
}

.networks{
    display: flex;
    margin-bottom: 100px;
    img {
        height: 35px;
        margin: 54px 16px 0 0;
    }
}