.upcode-mobile{
    display: none;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .upcode{
        margin-top: 70px;
        img{
            width: 30vw;
            height: auto;
            animation: up-down 1s infinite alternate;
        }
    }
    .dev{
        width: 50%;
        margin-top: 70px;
        padding: 200px 0 200px 0;
        letter-spacing: 0.05em;
        line-height: 2em;
        color: white;
        span{
            // font-family: 'PT Mono', monospace;
            font-weight: 600;
            font-size: 40px;
            line-height: 1em;
        }
        .call{
            width: 70%;
            margin-top: 30px;
            font-size: 16px;
        }
        .btn{
            margin-top: 40px;
            color: white;
            height: 60px;
            transition: opacity 1s;
            background: rgb(93,32,166);
            background: linear-gradient(90deg, rgba(93,32,166,1) 0%, rgba(93,32,166,1) 100%); 
        }
        .btn:hover{
            background: rgb(93,32,166);
            background: linear-gradient(90deg, rgba(93,32,166,1) 0%, rgba(165,60,181,1) 100%); 
        }
    }
}