.banner {
    background: url(/img/background.webp);
    height: 512px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.presentation {
    font-size: 48px;
    color: white;
    h1 {
        font-weight: 600;
    }
    span {
        color: $lilac;
    }
}

.subtitulo {
    font-size: 24px;
    color: white;
    h2::after {
        content: '|';
        opacity: 1; 
        margin-left: 5px;
        display: inline-block;
        animation: blink .7s infinite;
    }
    @keyframes blink {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
    }
}

.citacao {
    margin: 100px 96px -60px 96px;
    text-align: right;
    width: 400px;
    font-size: 12px;
    color: white;
    font-style: italic;
    float: right;
    p {
        font-weight: 600;
        margin-top: 10px;
    }
}