.contato {
    background: $gray;
    border-top: 1px solid $line;
    display: grid;
    padding: 80px 0 80px 0;
}

.contactLinks {
    width: 600px;
    height: 200px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 3px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.068);
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 20px;
        margin: 0 15px -3px 28px;
    }
    li {
        font-size: 18px;
        font-weight: 500;
        color: $lilac;
        line-height: 30px;
    }
    a {
        text-decoration: none;
        color: $gray;
        font-size: 24px;
        font-weight: 500;
    }
}