body {
    background: #031641;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1140px;
}
html {
    scroll-behavior: smooth;
}

.titulo h2{
    font-size: 24px;
    font-weight: 600;
    margin: 100px 0 0 0;
    color: #031641;
}
.titulo::after{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: #FA6500;
    margin: 0 0 25px 0;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}