body {
    background: url(/img/indice.webp) fixed $darkgrey;
    font-family: 'Poppins', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1140px;
}
html {
    scroll-behavior: smooth;
}
@include title;

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}

.fadeImg {
    opacity:0;
    -webkit-animation: fadeIn 5s ease-in-out;
    -moz-animation: fadeIn 5s ease-in-out;
    -o-animation: fadeIn 5s ease-in-out;
    animation: fadeIn 5s ease-in-out; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;}
    
    .fadeImg-delay {	
    -webkit-animation-delay:3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    animation-delay:3s;}
    
    .fadeImg2 {
    opacity:0;
    -webkit-animation: fadeIn 500ms linear;
    -moz-animation: fadeIn 500ms linear;
    -o-animation: fadeIn 500ms linear;
    animation: fadeIn 500ms linear; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;}
    
    .fadeImg2-delay {	
    -webkit-animation-delay:6s;
    -moz-animation-delay:6s;
    -o-animation-delay:6s;
    animation-delay:6s;
}