@import "variavesemixin";

#logo {
    width: 70px;
    margin: 0 0 0 96px;
}
.navegador {
    position: fixed;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    a {
        color: white;
    }
    z-index: 10;
}

.menuFixo {
    position: fixed;
    top: 0px;
    background-color: $gray;
    transition: 500ms;
}

.menu {
    display: flex;
    margin-right: 65px;
    a {
        padding: 10px 20px;
        margin: 0 10px;
    }
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
    position: fixed;
}
   
.mynav a,
.target {
    transition: all .35s ease-in-out;
}
#btn-mobile{
    display: none;
}