.navegador {
    display: none;
}
#menu-mobile{
    display: block;
    #check{
        display: none;
    }
    #icone{
        cursor: pointer;
        padding: 15px;
        margin: 5px 0 0 5px;
        position: fixed;
        z-index: 2;
        img{
            width: 40px;
        }
    }
    .barra{
        background: #070616f8;
        height: 100%;
        width: 100%;
        position: fixed;
        transition: all .2s linear;
        left: -100%;
        z-index: 1;
    }
    nav{
        width: 100%;
        position: absolute;
        top: 85px;
        display: grid;
        grid-template-columns: 1fr;
        a{
            text-decoration: none;
            padding: 30px;
            font-size: 26pt;
            letter-spacing: 5px;
            transition: .2s linear;
            color: white;
            text-align: center;
            opacity: 0;
            margin-top: 200px;
        }
        :last-child{
            height: 50px;
        }
    }
    #check:checked ~ .barra{
        transform: translateX(100%);
        nav a{
            opacity: 1;
            margin-top: 0;
            transition-delay: .2s;
        }
    }
}