@import "variavesemixin";

#start{
    background: $darkgrey;
}

#logo {
    width: 70px;
}

.navegador {
    position: fixed;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        color: white;
    }
    z-index: 10;
    .mynav{
        margin: 0 0 0 567px;
    }
    a img{
        height: 40px;
        margin-right: 0;
    }
}

.menuFixo {
    position: fixed;
    top: 0px;
    background-color: #09090ae5;
    transition: 500ms;
}
.menu {
    display: flex;
    margin-right: 20px;
    a {
        padding: 10px 20px;
        margin: 0 10px;
    }
}

.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
    position: fixed;
}
   
.mynav a,
.target {
    transition: all .35s ease-in-out;
}
#menu-mobile{
    display: none;
}