// PRONTO
@media (max-width: 1200px) {
    .banner {
        .upcode{
            img{
                width: 400px;
            }
        }
        .dev{
            width: 60%;
            margin-top: 20px;
            padding: 150px 0 100px 0;
            span{
                font-size: 30px;
            }
            .call{
                width: 100%;
            }

        }
    }
}
// PRONTO
@media (max-width: 940px) {
    .container {
      transition: 500ms;
    }
    @import 'menumobile';
    .upcode-mobile{
        display: block;
        width: 100%;
        height: 100px;
        text-align: center;
        img{
            width: 350px;
            margin-top: 60px;
        }
    }
    .banner {
        .upcode{
            img{
                display: none;
            }
        }
        .dev{
            width: 100%;
            text-align: center;

        }
    }
    .informacao{
        ul{
            li{
                width: 610px !important;
            }
        }
    }
    .contratar{
        margin: 10px;
        background: #000;
        margin-top: 20px;
    }
    .contratar:hover{
        color: white;
        background: $lime;
    }
}
// PRONTO
@media(max-width: 760px) {
    .container {
        transition: 500ms;
        width: 100%;
        height: 700px;
    }
    @import 'menumobile';

    .banner {
        .upcode-mobile{
            img{
                width: 400px; 
                margin-top: 50px;
            }
        }
        .dev{
            padding: 0;
            margin-bottom: 100px;
            span{
                font-size: 30px;
            }
            .call{
                width: 100%;
                line-height: 35px;
            }

        }
    }

    .projetos {
        background: $grafite;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 100px 0 0 0;
            li{
                width: 240px;
                height: auto;
                margin: 20px;
                overflow: hidden;
            }
        }
        
    }

    .informacao{
        height: 4900px !important;
        ul{
            li{
                width: 500px !important;
            }
        }
    }

    .rodape {
        height: 70px;
    }
}
// PRONTO
@media(max-width: 550px) {
    .container {
        transition: 500ms;
        width: 100%;
        height: 700px;
    }
    @import 'menumobile';

    .banner {
        .upcode-mobile{
            img{
                width: 350px; 
                margin-top: 50px;
            }
        }
        .dev{
            margin: 100px 0 40px 0;
        }
    }

    .projetos {
        height: 600px;
        ul{
            margin: 20px 0 0 0;
            li{
                width: 155px;
                margin: 10px;
            }
        }
    }

    .informacao{
        height: 5600px !important;
        ul{
            li{
                margin: 20px 0 20px 0 !important;
            }
        }
    }

    .rodape {
        height: 70px;
    }
}
// PRONTO
@media(max-width: 460px) {
    .container {
        transition: 500ms;
        width: 100%;
        height: 700px;
    }
    @import 'menumobile';

    .banner {
        .upcode-mobile{
            img{
                width: 250px; 
                margin-top: 60px;
            }
        }
        .dev{
            margin: 100px 0 100px 0;
            span{
                font-size: 20px;
            }
            .call{
                // width: 250px;
                font-size: 15px;
                line-height: 30px;
            }
        }
    }

    .projetos {
        height: 1200px;
        ul{
            margin: 10px 0 0 0;
            li{
                width: 300px;
                margin: 5px;
            }
        }
    }

    .informacao{
        height: 6700px !important;
        ul{
            li{
                .modelo{

                    img{
                        width: 50px !important;

                    }
                }
                span{
                    font-size: 18px !important;
                }
                .sub{
                    font-size: 15px !important;
                }
            }
        }
    }
    .conteudo .btn{
        display: none;
    }
    .rodape {
        height: 70px;
    }
}

@media(max-width: 420px) {
    .container {
        transition: 500ms;
        width: 500px !important;
        height: 700px;
        padding: 100px !important;
        margin: 20px -40px !important;
    }
    @import 'menumobile';

    .banner {
        .upcode-mobile{
            img{
                width: 200px; 
                margin-top: 20px;
            }
        }
        .dev{
            margin: 10px 0 10px 0 !important;
            span{
                font-size: 18px;
            }
            .call{
                // width: 100% !important;
                font-size: 15px;
                line-height: 22px;
            }
        }
        .btn{
            width: 220px !important;
        }
    }

    .projetos {
        height: 1300px !important;
        h2{
            margin: -140px 0 0 0 !important;
        }
    }

    .informacao{
        h2{
            margin: -140px 0 0 0 !important;
        }
        height: 5800px !important;
    }
    .rodape {
        display: none;
    }
}