.rodape {
    height: 70px;
    background: none;
    display: grid;
    align-items: center;
    p {
        b {
            color: $lilac;
        }
        text-align: center;
        color: white;
        letter-spacing: 1px;
        font-size: 14px;
    }
}