@import "variavesemixin";

.skills {
    background: $gray;
    border-top: 1px solid $line;
    display: grid;
    align-items: center;
    .titulo {
        text-align: center;
    }
    .titulo::after {
        margin: 0px auto;
    }
}

.gradeSkills {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 120px;
}

.flexSkill {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 80px 0 80px;
    li {
        display: grid;
        align-items: center;
        width: 200px;
        height: 100px;
        background: linear-gradient(180deg, rgba(32,32,36,1) 0%, rgba(21,21,23,1) 93%);
        margin: 15px 10px 15px 10px;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0 10px 0;
        p {
            font-size: 14px;
            margin-top: -20px;
            color: white;
        }
    }
    :nth-child(1){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(251,148,31,1) 0%, rgba(251,148,31,0.4) 93%); 
        }
        span{
            color:#FB941F;
            margin-top: -20px;
        }
    }
    :nth-child(2){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(69,138,203,1) 0%, rgba(69,138,203,0.4) 93%); 
        }
        span{
            color:#458ACB;
            margin-top: -20px;
        }
    }
    :nth-child(3){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(207,100,154,1) 0%, rgba(207,100,154,0.4) 93%); 
        }
        span{
            color:#CF649A;
            margin-top: -20px;
        }
    }
    :nth-child(4){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(225,189,0,1) 0%, rgba(225,189,0,0.4) 93%); 

        }
        span{
            color:#E1BD00;
            margin-top: -20px;
        }
    }
    :nth-child(5){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(129,86,228) 0%, rgba(129,86,228, 0.4) 93%); 
        }
        span{
            color:#8156E4;
            margin-top: -20px;
        }
    }
    :nth-child(6){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(33,94,152,1) 0%, rgba(33,94,152,0.4) 93%); 
        }
        span{
            color:#215E98;
            margin-top: -20px;
        }
    }
    :nth-child(7){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(231,63,90,1) 0%, rgba(231,63,90,0.4) 93%); 
        }
        span{
            color:#E73F5A;
            margin-top: -20px;
        }
    }
    :nth-child(8){
        hr{
            @include hr;
            background: linear-gradient(90deg, rgba(4,206,95,1) 0%, rgba(4,206,95,0.4) 93%); 
        }
        span{
            color:#04CE5F;
            margin-top: -20px;
        }
    }
}