@import "variavesemixin";

.skills {
    background: $gray;
    border-top: 1px solid $line;
    display: grid;
    align-items: center;
    .titulo {
        text-align: center;
    }
    .titulo::after {
        margin: 0px auto;
    }
}

.gradeSkills {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 120px;
}

.flexSkill {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 80px 0 80px;
    li {
        display: grid;
        align-items: center;
        width: 200px;
        height: 100px;
        background: $darkgrey;
        margin: 15px 10px 15px 10px;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0 10px 0;
        p {
            font-size: 14px;
            margin-top: -20px;
            color: white;
        }
    }
    :nth-child(1){
        hr{
            @include hr;
            background: #FB941F; 
        }
        span{
            color:#FB941F;
            margin-top: -20px;
        }
    }
    :nth-child(2){
        hr{
            @include hr;
            background: #458ACB; 
        }
        span{
            color:#458ACB;
            margin-top: -20px;
        }
    }
    :nth-child(3){
        hr{
            @include hr;
            background: #CF649A; 
        }
        span{
            color:#CF649A;
            margin-top: -20px;
        }
    }
    :nth-child(4){
        hr{
            @include hr;
            background: #E1BD00; 

        }
        span{
            color:#E1BD00;
            margin-top: -20px;
        }
    }
    :nth-child(5){
        hr{
            @include hr;
            background: #8156E4; 
        }
        span{
            color:#8156E4;
            margin-top: -20px;
        }
    }
    :nth-child(6){
        hr{
            @include hr;
            background: #e94e31;
        }
        span{
            color:#e94e31;
            margin-top: -20px;
        }
    }
    :nth-child(7){
        hr{
            @include hr;
            background: #215E98; 
        }
        span{
            color:#215E98;
            margin-top: -20px;
        }
    }
    :nth-child(8){
        hr{
            @include hr;
            background: #E73F5A; 
        }
        span{
            color:#E73F5A;
            margin-top: -20px;
        }
    }
    :nth-child(9){
        hr{
            @include hr;
            background: #04CE5F; 
        }
        span{
            color:#04CE5F;
            margin-top: -20px;
        }
    }
}