$gray: #121214;
$lightgray: #A8A8B3;
$darkgrey: #09090A;
$lilac: #9466FF;
$line: #29292D;

@mixin title(){
    .titulo h2{
        font-size: 24px;
        font-weight: 600;
        margin: 100px 0 0 0;
        color: white;
    }
    .titulo::after{
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background: $lilac;
        margin: 0 0 25px 0;
    }
}

@mixin hr(){
    width: 100%;
    height: 1px;
    border: none; 
    margin-top: -25px;
}