html, body{
    margin: 0;
    padding: 10px;
    background: #002019;

}

.container{
    margin: 0 auto;
}

.calculadora{
    width: 100%;
}

.calculo{
    position: relative;
    width: 300px;
    padding: 10px;
    background: #fff;
}

img{
    margin: 5px 0 10px 0;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 0;
    letter-spacing: 1px;
    color: #414141;
}

input{
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
}

output{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 0;
    color: #00997b;
}

footer{
    width: 300px;
    height: 50px;
    padding: 20px 10px 0 10px;
    background: #00997b;
}

footer>p{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}