#menu-mobile{
    padding: 0 20px 0 30px;
    // margin: 5px 0 0 0;
    width: 100%;
    // display: flex;
    .ali{
        display: flex;
        :nth-child(3){
            margin-left: auto;
            top: 5px;
            // background: chartreuse;
        }
    
        #check{
            display: none;
        }
        #icone{
            cursor: pointer;
            padding: 15px;
            position: fixed;
            z-index: 2;
            img{
                width: 30px;
            }
            position: relative;

        }
        .barra{
            background: $padrao;
            height: 100%;
            width: 100%;
            position: fixed;
            transition: all .2s linear;
            left: -100%;
            top: 80px;
        }
        nav{
            width: 100%;
            position: absolute;
            top: 85px;
            display: grid;
            grid-template-columns: 1fr;
            a{
                text-decoration: none;
                padding: 30px;
                font-size: 26pt;
                letter-spacing: 5px;
                transition: .2s linear;
                color: $roxo;
                text-align: center;
                opacity: 0;
                margin-top: 200px;
                border-bottom: 2px solid white;
            }
            :nth-child(3){
                margin-left: 0;
                background: none;
            }
        }
        #check:checked ~ .barra{
            transform: translateX(100%);
            nav a{
                opacity: 1;
                margin-top: 0;
                transition-delay: .2s;
            }
        }
    }
}