@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
body, h1, h2, h3, ul, li, dt, dd, dl, p, a {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cabeca {
  padding-top: 80px;
}

.logo {
  width: 50px;
}

.menu {
  width: 530px;
  height: 80px;
  background: #407BFF;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.menu li a {
  display: block;
  padding: 29px 25px 29px 26px;
  font-weight: 600;
  color: white;
  transition: 500ms;
}
.menu li a:hover {
  color: #407BFF;
  background: #ffffff;
  transition: 500ms;
}

h2 {
  font-weight: 700;
  font-size: 2em;
  color: #27282b;
  margin-bottom: 20px;
}
h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #407BFF;
  margin: 8px 0;
}

#sobre {
  margin-top: 100px;
}

.sobre {
  width: 530px;
  line-height: 1.8em;
}

.banner {
  width: 460px;
}

.topo {
  width: 100%;
  height: 400px;
  background: url("/devleonardo.github.io/projetos/lawyer/img/wave.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.meio-bg {
  background: #407BFF;
  height: 600px;
}

.area {
  color: white;
  text-align: center;
}
.area::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: white;
  margin: 8px auto;
}

.area2 {
  width: 320px;
  height: 160px;
  background: #c4c4c4;
  margin-top: 60px;
  border-radius: 3px;
  text-align: center;
  background: url("/devleonardo.github.io/projetos/lawyer/img/loading.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.baixo {
  width: 100%;
  height: 400px;
  background: url("/devleonardo.github.io/projetos/lawyer/img/wave.svg") no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
}

.equipe h2 {
  text-align: center;
}
.equipe h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  margin: 8px auto;
}

.equipe ul {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.perfil {
  width: 200px;
  height: 200px;
  border-radius: 50% 50% 0 50%;
  background: url("/devleonardo.github.io/projetos/lawyer/img/perfil.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

h3 {
  font-weight: 700;
  font-size: 2em;
  color: #27282b;
  margin-bottom: 10px;
}
h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #407BFF;
  margin: 8px 0;
}

.eqp {
  margin: 0 30px 0 -30px;
  color: #27282b;
}

.escritorio h2 {
  text-align: center;
  margin: 100px 0 150px 0;
}
.escritorio h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  margin: 8px auto;
}

.escritorio {
  margin-top: 100px;
  margin-bottom: 200px;
  justify-content: center;
}
.escritorio ul {
  margin-top: -50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.escritorio ul li:last-child {
  margin-top: 30px;
}

h4 {
  color: #27282b;
  font-size: 1.6em;
  margin: 0 0 15px 0;
}
h4::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: #407BFF;
  margin: 8px 0;
}

.mapa {
  width: 450px;
  height: 300px;
  background: #27282b;
  background: url("/devleonardo.github.io/projetos/lawyer/img/maps.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.contato {
  width: 100%;
  height: 200px;
  background: #407BFF;
  padding-top: 50px;
}
.contato h2 {
  color: white;
}
.contato h2::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background: white;
  margin: 8px 0;
}

.contatos ul {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.contatos .contato1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.contatos .contato2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.contatos .contato2 li i {
  font-size: 3.6em;
  color: white;
  transition: 500ms;
}
.contatos .contato2 li i:hover {
  font-size: 4em;
  transition: 500ms;
}

footer {
  background: #27282b;
  height: 40px;
  padding-top: 20px;
  color: white;
}
footer a {
  color: white;
  font-weight: 700;
}
footer a:hover {
  color: #0040ff;
}

/*# sourceMappingURL=style.css.map */
